@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(
    45deg,
    hsl(48deg 100% 50%) 0%,
    hsl(50deg 100% 50%) 13%,
    hsl(52deg 100% 50%) 23%,
    hsl(54deg 100% 50%) 31%,
    hsl(53deg 91% 60%) 39%,
    hsl(51deg 49% 68%) 47%,
    hsl(212deg 11% 70%) 54%,
    hsl(213deg 81% 65%) 62%,
    hsl(207deg 97% 51%) 70%,
    hsl(210deg 92% 50%) 78%,
    hsl(212deg 93% 49%) 88%,
    hsl(214deg 100% 46%) 100%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  height: auto;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  font-style: normal;
}
